@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .layout {
        @apply mx-auto max-w-9/10 lg:max-w-screen-md;
        min-width: 320px;
    }
    .logo {
        @apply text-6xl tracking-wide text-green-700 uppercase;
    }
    .logo-content {
        @apply text-lg tracking-wide text-green-700 uppercase;
    }
    @media (min-width: 1024px){
        .vertical-orientation {
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
}